
.container{
  background-color: aqua;
}
h2{
  font-size: 40px;
  color: black;
  line-height: 1.8;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
.toptopbutton{
  text-align: center;
   display: flex;
   justify-content: space-evenly;
   margin-top: 30px;
   
}
.topbutton{
  background-color: goldenrod;
  width: 100px;
  height: 70px;
  border-radius: 15px;
}
.topbutton button{
  background-color:  goldenrod;
  border: none;
}
.textarea{
  margin-top: 30px;
  width: 800px;
  border-radius: 15px;
  border-color: blue;
  margin-top: 30px;
}
.botBottom{
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.button1{
  background-color: goldenrod;
  width: 180px;
  height: 50px;
  border-radius: 15px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
